@model Category

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
   
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">

                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
               
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <h6 class="text-white text-capitalize ps-3">Roles Management</h6>
                        </div>
                        <div class="pull-left">

                        </div>

                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">

                            <form  method="POST">
                              	<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control"/>
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
                            
                                <!-- /.card-body -->

                                <div class="card-footer ">
                                    <button type="submit" class="btn btn-primary"> Create</button>
                                    <button type="reset" class="btn btn-danger">reset </button>
                                    	<a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</main>
@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}